:root {
    --main-background-color: #E5E5E5;
    --second-background-color: #2F303A;
    --accent-background-color: #F5F4FA;


    --main-logo-color: #000000;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --second-text-accent-color: #FFFFFF;
    --footer-contacts-color: rgba(255,255,255,0,6);

    --font-main: "Roboto", sans-serif;
    --font-second: "Raleway";
    }





body {
  background-color: var(--main-background-color); 
  color: var(--primary-text-color);
  font-family: var(--font-main);
  font-weight: 500;
  letter-spacing: 0.03em;
}




.list {
  list-style: none;
}

/* section titles */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
}
/* section titles hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* logo style */
.logo {
  text-decoration: none;
  font-family:var(--font-second);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-logo-color);  
}
  .logo-part {
  color: var(--accent-text-color);  
  }
  footer .logo {
    color: var(--second-text-accent-color);
  }
  






/* site-nav */
.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
}
  .site-nav .link:hover,
  .site-nav .link:focus {
  color: var(--accent-text-color);
  }
  .site-nav .link.current {
  color: var(--accent-text-color);
  }
/* contacts-nav */
.contacts-nav .item {
  text-decoration: none;
  color: var(--primary-text-color)
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
}
.contacts-nav .item:hover,
.contacts-nav .item:focus {
  color: var(--accent-text-color);
}
/* main */
.section-title {
  color: var(--title-text-color);
}





/* Hero section */

.hero {
  background-color: var(--second-background-color);
}
.hero-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-accent-color)
}
.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88x;
  letter-spacing: 0.06em;;
}





/* features */

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}
.features-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  color: var(--primary-text-color);
}





/* our team */

.team {
background-color: var(--accent-background-color);
}
.team-mamber {
font-size: 16px;
line-height: 1.9;
color: var(--title-text-color);
}




/* footer */

footer {
background-color: var(--second-background-color);
}
.address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--footer-address-color);
}
.contact .link {
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--footer-contacts-color);
}





/* PORTFOLIO */
/* filter */

.filter-item {
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  }
  .filter-item:hover,
  .filter-item:focus {
  color: var(--accent-text-color);
  }





 /*examples */
 .example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
 }
 .examples p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
 }